@use '../../styles/variables.scss' as *;
.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 109%;
  color: var(--text-primary);
}
.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--text-primary);
}
.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 113%;
  color: var(--text-primary);
}
.p {
  &-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--text-primary);
  }
  &-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: var(--text-primary);
  }
  &-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-primary);
  }
  &-14 {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-primary);
  }
}
.normal {
  font-weight: normal;
}
.medium {
  font-weight: medium;
}
.bold {
  font-weight: bold;
}
.primary {
  color: var(--text-primary);
}
.secondary {
  color: var(--text-secondary);
}
.accent {
  color: var(--text-accent);
}
.lines-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
